@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(51 65 85);
    border-radius: 3px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(71 85 105);
  }
}
